p {
    outline: 2px solid red;
}
.par2{
    color: green;
    background-color: yellow;
}

.head, .recipe1{
    text-align: center;

}

.par1, .par2, .par3 {
    text-align: center;
    height:17px;
    width: 500px;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right:auto;
}